.container {
  flex: 1;
  flex-direction: column;
  display: flex;
  justify-content: flex-end;
  overflow-y: auto;
  position: relative;
  .message-list {
    display: flex;
    flex-direction: column-reverse;
    flex: 1;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    .date-title {
      display: flex;
      align-items: center;
      margin-top: 10px;
      color: var(--color-secondary-text);
      padding: 0 10px;
      font-size: 12px;
      line-height: 14px;
      .separate-line {
        margin: 0 10px;
        flex: 1;
        background-color: var(--color-stroke);
        height: 1px;
      }
    }
  }
  .message-load-more {
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: var(--color-lighter-background);
    color: var(--color-secondary-text);
  }
}
